.modalLiquidate__overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

.modalLiquidate__container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 50px;
    z-index: 1000;
    color: white;
}

.modalLiquidate__header{
    font-size: 30px;
    padding-bottom: 30px;
}

.modalLiquidate__btn{
    display: flex;
    justify-content: space-between;
}