.modalWatch__overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

.modalWatch__container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 50px;
    z-index: 1000;
    color: white;
}

.modalWatch__header{
    font-size: 40px;
    padding-bottom: 10px;
}

.modalWatch__input{
    height: 40px;
    padding: 10px;
    width: 375px;
}

.modalWatch__input > input {
    border: 1px white;
    width: 100%;
}

.modalWatch__btn{
    display: flex;
    justify-content: space-between;
}